* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
/* Navbar */

.navbar-brand {
  font-family: 'DM Serif Display', serif;
  padding-left: 3rem;
}

.navbar {
  padding-left: 2rem;
  background: none;
  background-color: none;
}

.navbar .navbar-brand {
  color: #001565;
}

.navbar-nav .nav-link {
  color: #001565;
}

.nav-right-container {
  padding-right: 3rem;
  ;
}

/* Home Page */

.home-body {
  background-image: url("../public/img/bg_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}

.home-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  padding-top: 8rem;
}

.subheading h2 {
  font-size: 1rem;
  font-family: 'Libre Franklin', sans-serif;
}

.heading h1 {
  font-size: 3.5rem;
  font-family: 'DM Serif Display', serif;
}

.home-container .paragraph {
  width: 600px;
  font-family: 'Libre Franklin', sans-serif;
}

.btn-primary {
  background-color: #001565 !important;
  border-color: #001565 !important;
  font-family: 'Libre Franklin', sans-serif !important;
}


/* @media (min-width: 320px) {

  .heading h1 {
    font-size: 3rem;
  }
  
  .subheading h2{
    font-size: 1.5rem;
  }
  
  .home-container .paragraph {
    width: 300px;
    ;
  }
  

} */

/* Projects Page */

.project-title-container {
  background: rgb(177, 119, 213);
  background: linear-gradient(90deg, rgba(177, 119, 213, 1) 0%, rgba(251, 217, 240, 1) 100%);
  font-family: 'Libre Franklin', sans-serif;
  color: #001565;
  width: 55vw;
  border: 10px solid white;
  outline: 5px solid;
  border-radius: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 5rem;
}

.project-title-container h1 {
  font-family: 'DM Serif Display', 'serif';
}

.project-container {
  margin-left: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: auto;
  align-items: stretch;
}

.project-item {
  width: 25rem;
  background-color: pink;
  max-width: 100%;
  height: fit-content;
  margin: 1rem;
  padding-top: 1rem;
  
  /* padding: 1rem; */
}

.project-item img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.project-cards .project-card {
  border-radius: 0;
  text-align: center;
  transition: .5s ease;

}

.project-cards .project-card .card-img {
  border-radius: 0;
}

.project-cards .project-card.mask {
  background: linear-gradient(45deg,
  rgba(29, 236, 197, 0.5),
  rgba(91, 14, 214, 0.5) 100%);
}


/* 
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.project-item:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} */