* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

/* Nav */

.navbar-brand {
  font-family: 'DM Serif Display', serif;
  padding-left: 3rem;
}

.navbar {
  padding-left: 2rem;
  background: none;
  background-color: none;
}

.navbar .navbar-brand {
  color: #001565;
}

.navbar-nav .nav-link {
  color: #001565;
}

.nav-right-container {
  padding-right: 3rem;
  ;
}

/* Home/Projects */

.card-img {
  transition: transform .6s;
  margin: 0 auto;
}

.card-img:hover {
  transform: scale(1.03);
}

h2 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.8rem !important;
  color: #001565;
  line-height: 1.5 !important; 
}

.subheading {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.3rem !important;
  color: #001565;
  line-height: 1.5 !important; 
}

h1 {
  font-family: 'DM Serif Display', serif;
  color: #001565;
  line-height: 1.5 !important;

}

.h1-sub {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.2rem !important;
  color: #5b5b5b;
  line-height: 1.5 !important; 
  font-style: italic;
}

p {
  font-family: 'Libre Franklin', sans-serif;
  color: #001565;
  line-height: 1.8 !important;

}

body {
  color: #001565;
}
a:link {
  text-decoration: none;
}

.emoji {
  color: #FFD700; /* Gold color for the star emoji */
}

